 

$header-background-color: #192140;
$default-color: #ffffff;
$button-tex-color: #9D9DB5;
$footer-background-color: #10131C;
$footer-blog-color: #D7F8FF;
$active-link: #DCF10D; 
$button-hover: #0266FF;
$blog-background: #F8F9FC;