

@mixin flex($justify: space-between){
    display: flex;
    justify-content: $justify;
}


@mixin blog-info($background-img: url('../images/Image.png')){
    background-image: $background-img;
    background-size: 100% 100%;
    width: 500px;
    height: 450px;
}

@mixin display-flex($flex-direction: column){
    display: flex;
    flex-direction: $flex-direction;
}