@use 'variables.scss';
@use 'colors.scss';
@use 'mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

.header-section{
width: 100vw;
height: 84px;
background-color: colors.$header-background-color;
font-family: "Inter", sans-serif;

}

.navigation{
margin-left: 80px;
margin-right: 80px;
font-family: 'Intern';
align-items: center;
@include mixins.flex();
color: colors.$default-color;


}

.navigation-bar {
    @include mixins.flex();
    width: 600px;

}

.nav-menu{
    @include mixins.flex();
    width: 390px;
    
}

.nav-signUp {
    @include mixins.flex();
    width: 164px;
}