@use 'variables.scss';
@use 'colors.scss';
@use 'mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}


// ------------- Navigation Bar------------//


.header-section{
width: 100%;
height: 100px;
background-color: colors.$header-background-color;
font-optical-sizing: auto;


.navigation{
max-width: 100%;
margin: auto;
@include mixins.flex();

padding: 30px 80px 0px 80px;
font-weight: 500;
font-size: 20px;
}

}

.navigation-bar {
    @include mixins.flex();
    width: 1100px;
    justify-content: space-between;
    a:link{
        text-decoration: none;
        color: colors.$default-color;
    }
    a:hover{
        color: colors.$active-link;
    }
    a:active{
        color: colors.$active-link;
    }

}


.nav-menu{
    @include mixins.flex();
    width: 600px;
    gap: 30px;
}

.nav-signUp {
    @include mixins.flex();
    gap: 20px;
    width: 200px;
    padding-right: 20px;
}

///---------- body ----------//

.main-body{
    height: 100% vh;
    width: 100%;
    background-color: colors.$default-color;
}

.blog-section{
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 450px 450px 450px;
    margin: 100px 100px;
    gap: 100px;
    justify-content: center;
}

.blog1{
    grid-column: 1/1;
    grid-row: 1/2;
    @include mixins.blog-info();
}

.blog2{
    grid-column: 2/3;
    grid-row: 1/2;
    @include mixins.blog-info($background-img: url('../images/Image-2.png'));
}

.blog3{
    grid-column: 3/4;
    grid-row: 1/2;
    @include mixins.blog-info($background-img: url('../images/Image-3.png'));
}

.blog4{
    grid-column: 1/2;
    grid-row: 2/3;
    @include mixins.blog-info($background-img: url('../images/Image-4.png'));
}

.blog5{
    grid-column: 2/3;
    grid-row: 2/3;
    @include mixins.blog-info($background-img: url('../images/Image-5.png'));
}

.blog6{
    grid-column: 3/4;
    grid-row: 2/3;
    @include mixins.blog-info($background-img: url('../images/Image-6.png'));
}

.blog7{
    grid-column: 1/2;
    grid-row: 3/4;
    @include mixins.blog-info($background-img: url("../images/Image-7.png"));

}

.blog8{
    grid-column: 2/3;
    grid-row: 3/4;
    @include mixins.blog-info($background-img: url('../images/Image-8.png'));
}

.blog9{
    grid-column: 3/4;
    grid-row: 3/4;
    @include mixins.blog-info($background-img: url('../images/Image-9.png'));
}

//--------------------------------Footer------------------------- --//

.footer-section {
    background-color: colors.$footer-background-color;
    height: 450px;
    width: 100%;
}

.footer-container {
@include mixins.display-flex();
padding: 100px;
gap: 70px;
color: colors.$default-color;
}

.footer-menu,.footer-courses, .footer-blog-details, .footer-courses-available,.footer-legality{
    @include mixins.display-flex($flex-direction: row);
    justify-content: space-between;
}

.footer-blog-details,.footer-courses-available{
    color: colors.$footer-blog-color;
    font-size: 12;
    font-weight: 100;
}

.footer-blog, .footer-courses-details{
    width: 900px;
    @include mixins.display-flex();
    gap: 30px;
    font-weight: 600;
    font-size: 20px;
}

.footer-socials{
    @include mixins.display-flex();
    gap: 15px;
}

.footer-socials-icon{
width: 500px;
display: flex;
align-items: center;
align-content: center;
justify-content: space-between;

}
.footer-icon{
    height: 40px;
    width: 40px;
    background-color: #192140;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    i{
        padding-left: 25%;
    }
}


.footer-courses-details{
    width: 400px;
}

.footer-terms{
    @include mixins.display-flex($flex-direction: row);
    width: 300px;
    padding-top: 50px;
    justify-content: flex-end;
    color: #747474;
}

.footer-legality{
    width: 400px;
}